<li>{{question-in-component.content}}: {{question-in-component.author}}, {{question-in-component.notes}}
  {{update-question question-in-component=question-in-component update="update"}}
  
  <button {{action 'delete' question-in-component}}>Delete</button>
</li>
